body {
  background-color: #ffffff;
  color: #666666;
}

header {
  background-color: #000033;
  color: #ffffff;
}

nav {
  background-color: #90c7e3;
}

h1 {
  margin-bottom: 0;
}

h2 {
  color: #3399cc;
}

dt {
  color: #000033;
}

.resort {
  color: #5c7fa3;
}

/*The assignment did not say to also make the yurts.html header heading aka h2 as margin-bottom:0; - But it seemed to imply the yurts.html header should also look like the index.html header heading aka h1 as margin-bottom:0; - I did the following to keep the styling consistent even if though was not in the assignment*/

header h2 {
  margin-bottom: 0;
}
